body{
	background : linear-gradient(green, yellow);
	padding : 20px;
}
h1{
	text-align : center;
	font-size : 48px;
	color : rgb(255,51,0);
}
.box{
	height : 85vh;
	background-color : grey;
	padding : 10px;
}
.eleOfResult{
	height : 38%;
	margin: 0 20px 10px 10px;
	padding : 25px;
	background-color : rgba(204,204,204,0.5);
	text-align: right;
	font-size: 15px;
	color: black;
}

.line{
	height : 20%;
}

.keyboard_button{
	background : white;
    width: 24%;
    height : 97%;
	font-weight: bold;
	font-size: 15px;
}